.pantry-items{
  border: solid 2px lightpink;
  padding: 10px;
  background-color: bisque;
  display: inline-block;
  width:150px;
  height: 150px;

    }
.freezer-items{
  border: solid 2px lightpink;
  padding: 10px;
  background-color: bisque;
  display: inline-block;
  width:150px;
  height: 150px;
}
body{
  background-color: lightsteelblue;
}
h2{
  text-align: center;
  border-radius: 18px;
}
.photo{
  border: solid 2px lightpink;
  padding: 20px;
  background-color: bisque;
  display: inline-block;
  width:150px;
  height: 150px;
  margin:5px

}